.glow-image-wrapper {
  position: relative;
}

.glow-image-glow,
.glow-image-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.glow-image-glow {
  opacity: 0.75;
}
