.account-settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: auto;
  margin-top: 1rem;

  width: 70%;
}

.account-settings-user-info {
  display: grid;
  grid-template-columns: 3fr 10fr;
  text-align: left;

  width: fit-content;

  gap: 0 1rem;
}

.account-settings-user-info > * {
  margin: 0;
}

.account-settings-danger-zone-title {
  margin-top: 0;
}

.account-settings-danger-zone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 5rem 0;
  padding: 1rem;

  background-color: rgba(255, 0, 0, 0.224);
  border-radius: 1rem;
}

.account-settings-danger-zone-expandable[data-is-expanded="true"] {
  margin-top: 1rem;
  padding: 1rem;
}

.account-settings-danger-zone-expandable[data-is-expanded="false"] {
  display: none;
}

.account-settings-danger-zone-warning-text {
  font-style: italic;
  max-width: 300px;
  text-align: left;
}

.account-settings-logout-button {
  margin-top: 2rem;
}

.cursive-note {
  margin-top: 2rem;
  font-style: italic;
  max-width: 400px;
}