* {
  box-sizing: border-box;
}

#root {
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);

  width: 100vw;
  margin: 0 auto;
  text-align: center;
  max-height: 100vh;
}

header {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);

  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 1rem;
}

header > img {
  filter: blur(0.1px);
}

header > img:hover {
  cursor: pointer;
}

.header-logo {
  width: 150px;
  aspect-ratio: 2 / 1;
}
