.top-list-item {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr auto;

  justify-content: center;
  align-items: center;

  gap: 1rem;
  margin: 1rem;

  border-radius: 1rem;
  padding: 1rem;
}

.list-item-background-image {
  position: absolute;
  z-index: -1;

  top: 0;
  bottom: 0;
  right: 1rem;
  left: 1rem;

  padding: 0;
  margin: 0;

  background-size: cover;

  border-radius: 1rem;

  filter: saturate(10) blur(80px);

  opacity: 0.1;
}

.top-list-item:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.top-list-item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-list-item-info > * {
  text-align: left;
  margin: 0;
}

.top-list-item-cover-art-wrapper {
  position: relative;
  min-height: 5rem;
  min-width: 5rem;

  border-radius: 0.5rem;
}

.saturated-blur {
  filter: blur(50px) saturate(5);
  opacity: 0.5;
}

.top-list-item-cover-art {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 100%;
  height: 100%;

  border-radius: 0.5rem;
}

@media (min-width:481px) { 
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
  .top-list-item-cover-art-wrapper {
    width: 12rem;
    height: 12rem;
  }
}

.top-list-item-rating {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-top: 1rem;

  width: fit-content;
  padding: 0;
}

.top-list-item-rating-star {
  color: orange;
}

.top-list-item-rating-text {
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.top-list-item-info-extra {
  padding: 1rem 0;
}

.top-list-item-info-extra > hr {
  width: 20%;
  opacity: 0.5;
}

.top-list-item-info-extra > p {
  margin: 0.5rem 0;
}

.top-list-item-expand-sign {
  font-size: 2rem;
}