.lds-circle {
  display: inline-block;
  transform: translateZ(1px);
}

.lds-circle > div {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.9);
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-circle::before {
  content: "";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  background: linear-gradient(rgb(255, 86, 86) 0%,
      rgba(255, 154, 0, 1) 10%,
      rgba(208, 222, 33, 1) 20%,
      rgb(131, 237, 127) 30%,
      rgba(63, 218, 216, 1) 40%,
      rgba(47, 201, 226, 1) 50%,
      rgba(28, 127, 238, 1) 60%,
      rgba(95, 21, 242, 1) 70%,
      rgba(186, 12, 248, 1) 80%,
      rgb(235, 123, 220) 90%,
      rgb(232, 130, 130) 100%) 0 0/100% 200%;
  animation: lds-circle 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  filter: blur(15px);
  opacity: 0.7;
}

.lds-circle > div > div {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: black;
}

@keyframes lds-circle {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }

  0% {
    transform: rotateY(0deg);
    background-position: 0 -500%
  }

  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }

  100% {
    transform: rotateY(3600deg);
  }
}