* {
  box-sizing: border-box;
}

#root {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
}

header {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);

  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem;

  background-color: rgba(255, 255, 255, 0.1);
}

header > img:hover {
  cursor: pointer;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 1);
}

nav {
  display: flex;
  justify-content: end;
}

nav > ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  text-align: r;
}