.new-album-page-content {
  position: relative;

  box-sizing: border-box;

  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: minmax(100%, 100%);

  margin: auto;

  max-width: 1024px;
  width: 80vw;
  max-height: 60vh;

  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.25);
  background-size: cover;

  border-radius: 2rem;

  overflow: hidden;
}

.new-album-page-content-coverart {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-size: cover;
  filter: blur(50px);
  opacity: 0.2;

  z-index: -1;
}

.new-album-input-section {
  text-align: left;
  scroll-behavior: smooth;
  overflow: auto;
}

.new-album-input {
  padding: 0.5rem 0;
  min-width: 128px;
}

.new-album-input > h2 {
  margin: 0;
}

.new-album-input > input {  
  min-height: 2.5rem;
  margin-top: 0.5rem;

  width: 90%;

  border-radius: 0.7rem;
  border: none;

  padding: 0.5rem 1rem;
}

.search-results-wrapper {
  display: flex;
  flex-direction: column;
}

.search-results-wrapper > h2 {
  margin: 0;
}

.search-results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr) );

  margin: 1rem;
  gap: 1rem;

  overflow-y: auto;
  scroll-behavior: smooth;
}

.search-suggestion {
  display: flex;
  justify-content: center;

  aspect-ratio: 1/1;

  background-color: rgba(0, 0, 0, 0.25);
  background-size: cover;
  border-radius: 1rem;
}

.search-suggestion-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;

  width: 80%;
  height: 80%;
  margin: auto;
  
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(50px);
  border-radius: 50%;
}

.search-suggestion-info:hover {
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
}

.search-suggestion-info > * {
  margin: 0;
}

.search-suggestion-mbid {
  font-size: 0.55rem;
  opacity: 0.5;
}