header > nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  justify-content: center;
}

header > nav > ul {
  position: relative;

  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: center;
  
  padding: 0;
  margin: 0;

  text-align: center;

  gap: 1rem;

  height: 100%;
  width: 100%;

  z-index: 2;
  background-color: black;
}

.navigation-menu-list {
  opacity: 0;
  pointer-events: none;
  transform: translate(1rem);
  transition: all 0.3s ease-in-out;
}

.navigation-menu-list[data-is-expanded="true"] {
  opacity: 1;
  pointer-events: all;
  transform: translate(0);
}

.navigation-menu-expand-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 3;

  width: 4rem;
  height: 4rem;

  padding: 0;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.0);
  color: #f1cb72;
}


.navigation-menu-expand-button:hover {
  color: #fc9a23;
  outline: none;
  border: none;
}

.navigation-menu-expand-button:focus {
  outline: none;
  border: none;
}

@media (min-width:481px) {
  header > nav {
    position: relative;
    display: flex;

    justify-content: end;
    z-index: 0;
  }

  header > nav > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: right;

    padding: 0;
    margin: 1.5rem;

    text-align: center;

    gap: 1rem;

    background-color: transparent;
    pointer-events: none;

    z-index: inherit;
  }

  .navigation-menu-list {
    opacity: 0;
    pointer-events: none;
    transform: translate(1rem);
    transition: all 0.3s ease-in-out;
  }

  .navigation-menu-list[data-is-expanded="true"] {
    opacity: 1;
    pointer-events: all;
    transform: translate(0);
  }

  .navigation-menu-expand-button {
    position: relative;
    z-index: 3;

    width: 4rem;
    height: 4rem;

    padding: 0;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.0);
    color: #f1cb72;
  }
}